.story_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.story_sub {
  background-color: var(--gray);
  height: 100vh;
}

.story_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 0%;
}

.ui {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 130px;
}

.strory_title {
  font-family: "play";
  color: #fff;
  text-transform: uppercase;
  font-size: 35px;
  margin-bottom: 20px;
  /* font-weight: 400; */
}

.story_p {
  font-family: "arial";
  color: #fff;
  font-size: 17px;
  line-height: 150%;
}

.story_detail_grid {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
}
.story_ul {
}

.story_li {
  list-style: none;
  color: #fff;
  font-family: "arial";
  line-height: 200%;
  font-size: 17px;
}

.tum {
  text-transform: uppercase;
}

.qa {
  margin-bottom: 50px;
}
.mi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
}
@media (max-width: 1034px) {
  .story_sub {
    height: auto;
  }

  .story_grid {
    display: flex;
    flex-direction: column;
  }
  .story_img {
    height: 50vh;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .mi,
  .ui {
    /* padding: 0; */
  }

  .ui {
    padding: 15px;
  }
  .mi {
    padding: 20px 15px;
  }

  .qa {
    margin-bottom: 20px;
  }

  .story_p {
    font-size: 16px;
  }

  .story_li {
    font-size: 15px;
  }

  .strory_title {
    font-size: 25px;
    font-weight: 400;
  }
}
