.header {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center 100%;
  background-image: url("../../assets/couple.jpg");
  position: relative;
}

.header::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.6);
}
.couple_name_section {
  display: flex;
  align-items: center;
  position: absolute;
  inset: 0;
  justify-content: center;
  min-height: 100vh;
}

.couple_name {
  position: relative;
  font-family: "rapid";
  text-align: center;
  font-size: 80px;
  font-weight: 400;
  z-index: 1;
  color: #fff;
}
.date {
  text-align: center;
  font-family: "arial";
  margin-bottom: 40px;
  color: #fff;
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-size: 20px;
}

.date_section {
  position: absolute;
  bottom: 30px;
  text-align: center;
  left: 0;
  right: 0;
}
@media (max-width: 634px) {
  .header {
    height: 70vh;
    min-height: auto;
  }

  .date_section {
    bottom: 0px;
  }

  .couple_name {
    font-size: 45px;
  }

  .couple_name_section {
    min-height: auto;
  }
}
