.header_img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_imger {
  width: 50%;
  height: 80vh;
  object-fit: cover;
  /* border: 3px solid #FF9D00; */
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}

.header {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}
.couple_name_section {
  display: flex;
  align-items: center;
  /* position: absolute; */
  inset: 0;
  margin: 30px 0;
  justify-content: center;
}

.couple_name {
  position: relative;
  font-family: "rapid";
  text-align: center;
  font-size: 80px;
  font-weight: 400;
  z-index: 1;
  color: #fff;
  text-shadow: 1px 2px 1px #FF9D00;
}
.date {
  text-align: center;
  font-family: "arial";
  margin-bottom: 40px;
  color: #fff;
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-size: 20px;
}

.date_section {
  position: absolute;
  bottom: 30px;
  text-align: center;
  left: 0;
  right: 0;
}
@media (max-width: 634px) {
  .header {
    /* height: 70vh; */
    min-height: auto;
  }
  .header_imger {
    width: 80%;
    height: 50vh;
    object-fit: cover;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
  }

  .date_section {
    bottom: 0px;
  }
.header{
  padding-top: 130px;

}
  .couple_name {
    font-size: 45px;
  }

  .couple_name_section {
    min-height: auto;
  }
}
