* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "rapid";
  src: url("../public/fonts/GreatVibes-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "play";
  src: url("../public/fonts/PlayfairDisplay-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "arial";
  src: url("../public/fonts/ArialCE.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --gray: #27211f;
}
#our-story,
#timeline,
#where-to-stay,
#rsvp {
  scroll-margin-top: 80px; /* height of your navbar */
}
