* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.apply {
  min-height: 100vh;
  background-image: url("./assets/bee.jpg");
  /* backdrop-filter: blur(6px); */
  position: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-y: auto; /* allow scrolling for Home components */
}

.sold {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-image: url("./assets/bee.jpg");
  background-size: cover;
  background-position: center center;
  overflow-y: scroll;
}

.tex{
  position: relative;
}

.tex::after{
  position: absolute;
  content: "";
  width: 100%;
  display: flex;align-items: center;justify-content: center;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);

  height: 100%;
}

.tex {
  position: relative;
}

@font-face {
  font-family: "rapid";
  src: url("../public/fonts/GreatVibes-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "play";
  src: url("../public/fonts/PlayfairDisplay-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "arial";
  src: url("../public/fonts/ArialCE.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --gray: #27211f;
}
#our-story,
#timeline,
#where-to-stay,
#rsvp {
  scroll-margin-top: 80px; /* height of your navbar */
}
